:root{
    /* Dark blue */
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    /* Ligth blue */
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    /* Gray */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
    /* 1 rem = 10px */
    font-size: 62.5%;
}
html, textarea{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    background-color: var(--light-blue-100);
}
header .logo{
    margin: 2rem 1.5rem;
}
form textarea{
    width: 90%;
    display: block;
    margin: 0 auto;
    border: none;
    resize: none;
    height: 30rem;
    padding: 5rem 0;
    font-size: 3.2rem;
    color: var(--dark-blue-300);
}
form textarea:focus{
    outline: none;
}
form textarea::placeholder{
    color: var(--dark-blue-300);
}
form .aviso{
    display: flex;
    align-items: center;
    margin:1.2rem;
    font-size: 1.2rem;
    color: var(--gray-400);
}
.aviso p{
    margin-left: .7rem;
}
.botones {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 4rem;
    height: 14rem;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width: 100%;
    font-size: 1.6rem;
    padding: 2rem 1rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--dark-blue-300);
    color: var(--dark-blue-300);
    cursor: pointer;
    background-color: var(--light-blue-100);
}
.encriptar{
    background-color: var(--dark-blue-300);
    color: #fff;
}
.mensajes, .resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 12rem;
    width: 75%;
    background-color: #fff;
    margin: 0 auto 4rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    box-shadow: 0px 24px 32px 0px rgba(0,0,0,0.15);
    text-align: center;
}
.mensajes .titulo{
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--gray-500);
}
.mensajes .informativo{
    font-size: 1.6rem;
    color: var(--gray-400);
}
.resultados{
    justify-content: space-between;
    box-shadow: none;
    min-height: 60rem;
    margin-bottom: 4rem;
}
.resultados-texto{
    display: inline-block;
    padding: 1rem;
    font-size: 2.4rem;
    color: var(--gray-400);
    overflow:auto;
}
.btn-copiar{
    background-color: #fff;
    width: 80%;
}
/* media */
@media screen and (min-width: 768px) {
    .botones{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .botones .btn:first-child{
        margin-right: 2rem;
    }
    .btn{
        /* max-width: 50%; */
        width: 50%;
    }
    .mensajes, .resultados{
        width: 93%;
    }
    .resultados{
        min-height: 30rem;
    }
    .btn-copiar{
        width: 95%;
    }
}