:root{
    /* Dark blue */
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    /* Ligth blue */
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    /* Gray */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
    /* 1 rem = 10px */
    font-size: 62.5%;
}
html, textarea{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
header .logo{
    margin: 2rem 1.5rem;
}
form textarea{
    width: 90%;
    display: block;
    margin: 0 auto;
    border: none;
    resize: none;
    height: 40rem;
    padding: 5rem 0;
    font-size: 3.2rem;
    color: var(--dark-blue-300);
}
form textarea:focus{
    outline: none;
}
form textarea::placeholder{
    color: var(--dark-blue-300);
}
form .aviso{
    display: flex;
    align-items: center;
    margin: 2.5rem 1.5rem;
    font-size: 1.2rem;
    color: var(--gray-400);
}
.aviso p{
    margin-left: .7rem;
}
.botones {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 4rem;
    height: 14rem;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--dark-blue-300);
    color: var(--dark-blue-300);
    cursor: pointer;
}
.encriptar{
    background-color: var(--dark-blue-300);
    color: #fff;
}